.modal-card {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal-card.active {
  transform: scale(1);
}

.modal-card-content {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background-color: beige;
}

.loading {
  color: rgb(148, 235, 35);
}

.close_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
